html, body{
	margin: 0;
	font-family: 'Open Sans';
}

a{
	outline:none;
}
a:link, a:hover, a:visited, a:active{
	/*color: initial;*/
	text-decoration: initial;
}

.header{
	position: fixed;
	width: 100%;
	background-color: white;
}

.title, .indicator, .footer, .error{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.path{
	color: #636363;
	font-size: 26px;
	text-align: center;
	line-height: 36px;
	margin: 32px 0 36px;
}

.title, .item{
	width: 1000px;
	margin: auto;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.title{
	height: 28px;
	font-size: 16px;
	font-weight: bold;
}
.title span{
	cursor: pointer;
}
.title span:hover{
	text-decoration: underline;
}

.title span.asc::after{
	content: "\2191";
}
.title span.desc::after{
	content: "\2193";
}

span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.name{
	padding-right: 12px;
}

.list{
	padding-top: 132px;
	padding-bottom: 24px;
}

.item{
	font-size: 18px;
	height: 54px;
	color: #949494;
	border-bottom: 1px solid #edf1f5;
}
.item span:first-child{
	color: #656565;
}
.item:hover{
	background: #f6f6f6;
}

.item.directory .name{
	color: #52b5e6;
}
.item:last-child{
	border-bottom: none;
}

.name{
	flex: 4;
}
.size{
	flex: 1;
}
.date{
	text-align: right;
	flex: 1;
}

.footer{
	color: #61666c;
	font-size: 12px;
}

.indicator{
    position: absolute;
    width: 100%;
    left: 0; bottom: 0;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.indicator .text{
	position: relative;
	height: 56px;
	padding: 0 28px;
	border-radius: 28px;
	line-height: 56px;
	font-size: 20px;
	color: #fff;
	background-color: rgba(0,0,0,0.48);
	overflow: hidden;
}
.indicator .text .progress{
	z-index: -1;
	position: absolute;
	left: 0; top: 0;
	height: 100%;
	width: 0;
	background-color: rgba(0,0,0,0.12);
}

.error{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.error::before{
	content: '404';
	color: #656565;
	font-size: 180px;
	line-height: 210px;
}
.error::after{
	content: 'Not Found';
	color: #949494;
	font-size: 36px;
}